<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cradle Library.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Photoshop Plugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Platypus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA28FFF81B668B1B009FF90F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA95CD731AE6B05D00F48AD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA95CD861AE6B05D00F48AD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAEFCDE31B445CF600E68314</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
